<div>
    <div class="box">
        <div class="box has-background-info">
            <div class="columns">
                <div class="column is-9">
                    <div class="section">
                        <div class="section has-text-left">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                            <p class="title is-3 has-text-white control">{{fullname}}</p>
                        </div>

                        <div class="section has-text-left">
                            <div class="title is-7 has-text-grey-lighter control">
                                <strong>
                                    <p v-if="profile_user_id == current_user_id">Your Bookshelf</p>
                                    <p v-if="!(profile_user_id == current_user_id)">{{fullname}}'s Bookshelf</p>
                                </strong></div>
                            <p class="title is-5">This is where the user's bookshelf would appear!</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="section">
                        <p class="title is-5 has-text-grey-lighter"><strong>Currently Reading</strong></p>
                        <figure class="image is-2by3">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <div class="section has-text-centered">
                            <p class="title is-5 has-text-white"><strong>The Giver</strong></p>
                            <p class="title is-7 has-text-grey-lighter">Author: Lois Lowry</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="profile_user_id == current_user_id" class="has-background-white">
            <div class="columns">
                <div class="column is-2">
                    <figure v-if="book_pinned" @click="get_book" class="image is-2by3">
                        <img :src="'' + post_bookimg">
                    </figure>
                    <div class="section">
                        <p v-if="book_pinned" class="control is-size-6">{{post_title}}</p>
                        <p v-if="book_pinned" class="control is-size-7">{{post_author}}</p>
                        <a v-if="!book_pinned" @click="get_book" class="title is-size-6 has-text-info">
                            <i class="icon fa fa-plus-circle"></i> <strong>Click here to add a book</strong></a>
                    </div>
                </div>
                <div class="column">
                    <article class="media has-background-white">
                        <div class="media-content">
                            <nav class="level">
                                <div class="level-left">
                                    <figure class="level-item">
                                        <p class="image is-48x48">
                                            <img class="is-rounded"
                                                 src="https://bulma.io/images/placeholders/128x128.png">
                                        </p>
                                    </figure>
                                    <a class="level-item"><strong>{{fullname}}</strong></a>
                                </div>
                            </nav>
                            <div class="content">
                                <p class="control">
                                        <textarea v-model="new_post" class="textarea"
                                                  placeholder="Start a book discussion..."></textarea>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a @click="create_new_post" class="button is-rounded is-info"><strong>Create
                                        Post</strong></a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="section has-background-white" v-for="(post, index) in posts">
        <div class="columns section">
            <div class="column is-2">
                <figure @click="show_book(post._idx)" class="image is-2by3">
                    <img :src="'' + post.book_img">
                </figure>
                <div @click="show_book(post._idx)" class="section">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="title is-size-6">{{post.book_title}}</p>
                                <p class="is-size-7">{{post.book_author}}</p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="column">
                <article class="media has-background-white">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div>
                            <p>
                                <a><strong>{{post.name}}</strong></a> <small>{{post.post_date}}</small>
                                <br>
                                {{post.content}}
                                <br>
                            </p>
                        </div>

                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a @click="add_like(post._idx)" class="level-item"><p v-if="post.num_likes>0">
                                    {{post.num_likes}} </p> Like
                                    . </a>
                                <div class="level-item" v-if="!post.show_comments">
                                    <a v-if="!(post.replies==0)" @click="show_comments(post._idx)" class="is-info">
                                        <strong>View all comments</strong></a>
                                    <p v-if="post.replies==0" class="is-size-7 has-text-grey">Be the first
                                        to
                                        comment on this post.</p>
                                </div>
                                <div class="level-item" v-if="post.show_comments">
                                    <a @click="collapse_comments(post._idx)" class="is-info">
                                        <strong>Collapse all comments</strong></a>
                                </div>
                            </div>
                        </nav>

                        <div v-if="post.show_comments" v-for="reply in post.replies">
                            <article class="section media">
                                <figure class="media-left">
                                    <p class="image is-48x48">
                                        <img class="is-rounded"
                                             src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-body">
                                    <article class="message is-info">
                                        <div class="message-body">
                                            <p><strong>{{reply.name}}</strong> {{reply.post_date}} {{reply.content}}</p>

                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="media-right">
                        <a><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                </article>

                <div class="section">
                    <div class="columns">
                        <div class="column is-1">
                            <p class="image is-48x48">
                                <img class="is-rounded"
                                     src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <input v-model="post.new_comment" class="input is-rounded"
                                                   placeholder="Add a comment ...">
                                        </p>
                                    </div>
                                    <a @click="create_new_reply(post._idx)"
                                       class="button is-rounded is-info"><strong>Submit</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div :class="add_book ? 'modal is-active is-clipped' : 'modal'">
        <div class="modal-background"></div>
        <div class="modal-content">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input v-model="search_string" class="input" placeholder="Search">
                                <span class="icon is-small is-left">
                                                <i class="fa fa-search"></i>
                                            </span>
                            </p>
                        </div>
                    </div>
                    <p class="level-item is-size-6 has-text-white">Please type full title of the book</p>
                </div>
                <div class="level-right">
                    <p class="level-item"><a @click="book_query(search_string)"
                                             class="button is-small is-info">
                        <i class="fa fa-search"></i>
                    </a></p>
                </div>
            </nav>

            <div v-if="book_pinned" class="section">
                <div class="section">
                    <div class="section">
                        <div class="section">
                            <div class="columns">
                                <div class="column">
                                    <figure class="image is-3by4">
                                        <img :src="'' + post_bookimg">
                                    </figure>
                                    <p class="control is-size-5 has-text-white">{{post_title}}</p>
                                    <p class="control is-size-7 has-text-grey-lighter">{{post_author}}</p>
                                </div>
                                <div class="column">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a v-if="pressed_search" @click="confirm_book" class="button is-success">Confirm</a>
            <a @click="cancel_book" class="button is-danger">Cancel</a>
        </div>
        <button @click="cancel_book" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div :class="show ? 'modal is-active is-clipped' : 'modal'">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="section has-background-info">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div>
                                <p class="title is-4 has-text-white">{{book_title}}</p>
                                <p class="title is-7 has-text-grey-lighter">{{book_subtitle}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <button class="delete" aria-label="close" @click="close_book"></button>
                    </div>
                </nav>
            </header>
            <section class="modal-card-body">
                <div class="section">
                    <div class="columns">
                        <div class="column">
                            <figure class="image is-2by3">
                                <img :src="'' + book_img">
                            </figure>
                        </div>
                        <div class="column">
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="content">
                                            <p class="is-size-7 has-text-grey"><strong>Title: </strong>{{book_title}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Subtitle: </strong>{{book_subtitle}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Author: </strong>{{book_author}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Pages: </strong>{{book_pageCount}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Type: </strong>{{book_type}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Publisher: </strong>{{book_publisher}}
                                            </p>
                                            <p class="is-size-7 has-text-grey"><strong>Published
                                                Date: </strong>{{book_publishdate}}</p>
                                        </div>

                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>

                <div class="control">
                    <p class="is-size-6 has-text-grey-light"><strong>Description:</strong></p>
                </div>
                <p>{{book_desc}}</p>
            </section>
            <footer class="modal-card-foot">
                <button v-on:click="close_book" class="button">Close</button>
            </footer>
        </div>
    </div>
</div>