    <article class="media has-background-white">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{name}}</strong> <small>{{time_stamp}}m ago</small>
                        <br>
                        {{content}}
                        <br>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-heart-o"></i></span>{{num_of_likes}} Likes</a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-reply"></i></span>{{num_of_replies}} Comment</a>
                    </div>
                </nav>

                <div v-for="reply in replies">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-48x48">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{reply.name}}</strong>
                                    {{reply.content}}
                                    <br>
                                    <small><a>{{reply.num_likes}} Likes</a> . 15m ago</small>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="media-right">
                <a><i class="fa fa-ellipsis-h"></i></a>
            </div>
        </article>
